.oi{
    color:green;
}

#botao{
    hidden: true;
}

#itemLista:hover{
    color: green;
}

#lista{
    border: 1px solid black;
    border-radius: 20px;
}

#VariacaoLista{
    border: 1px solid black;
    border-radius: 20px;

}

#novoLista, #listaSelecionada {
    margin: 10px;
}


#lido{
    position: absolute;
    top: 30px;
    right: 15px
    
}

#curtidas{
    border: 1px solid black;
    border-radius: 20px;
    
}

#curtir{
    margin: 10px
}